<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goglobe.dao.mapper.GoglobeMapper">
	<resultMap id="BaseResultMap" type="com.goglobe.dao.model.Goglobe">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="account" jdbcType="VARCHAR" property="account" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="invited_code" jdbcType="VARCHAR" property="invitedCode" />
		<result column="money" jdbcType="INTEGER" property="money" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, account, email, code, invited_code, money, status,phone
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from goglobe
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		goglobe
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.goglobe.dao.model.Goglobe">
		insert into goglobe (id,
		account, email,
		code, invited_code,
		money, status,phone)
		values
		(#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{code,jdbcType=VARCHAR},
		#{invitedCode,jdbcType=VARCHAR},
		#{money,jdbcType=INTEGER},
		#{status,jdbcType=INTEGER},#{phone,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.goglobe.dao.model.Goglobe">
		insert into goglobe
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="account != null">
				account,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="invitedCode != null">
				invited_code,
			</if>
			<if test="money != null">
				money,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="phone != null">
				phone,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="account != null">
				#{account,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="invitedCode != null">
				#{invitedCode,jdbcType=VARCHAR},
			</if>
			<if test="money != null">
				#{money,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.goglobe.dao.model.Goglobe">
		update goglobe
		<set>
			<if test="account != null">
				account = #{account,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="invitedCode != null">
				invited_code = #{invitedCode,jdbcType=VARCHAR},
			</if>
			<if test="money != null">
				money = #{money,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.goglobe.dao.model.Goglobe">
		update goglobe
		set
		account = #{account,jdbcType=VARCHAR},
		email =
		#{email,jdbcType=VARCHAR},
		code = #{code,jdbcType=VARCHAR},
		invited_code = #{invitedCode,jdbcType=VARCHAR},
		money =
		#{money,jdbcType=INTEGER},
		status = #{status,jdbcType=INTEGER},
		phone =
		#{phone,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateGoglobeByAccount" parameterType="com.goglobe.dao.model.Goglobe">
		update goglobe
		<trim prefix="SET" suffixOverrides=",">
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="money != null">
				money = #{money,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
		</trim>

		where account = #{account,jdbcType=VARCHAR}
	</update>
	<update id="addMoneyByInvitation" parameterType="com.goglobe.dao.model.Goglobe">
		update goglobe
		set money = money + #{money,jdbcType=INTEGER}
		where code =
		#{invitedCode,jdbcType=VARCHAR}
	</update>
	<select id="selectByCode" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select id
		from goglobe
		where code = #{code,jdbcType=VARCHAR}
		limit 0,1
	</select>
	<select id="selectByKey" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select id
		from goglobe
		where key = #{key,jdbcType=VARCHAR}
		limit 0,1
	</select>
	<select id="selectByAccount" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from goglobe
		where account = #{account,jdbcType=VARCHAR}
	</select>
	<select id="selectGoglobeByCode" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from goglobe
		where code = #{code,jdbcType=VARCHAR}
	</select>
	<select id="selectNumberByInvitedCode" parameterType="java.lang.String" resultType="java.lang.Integer">
	select count(*)
	from goglobe
	where invited_code = #{code,jdbcType=VARCHAR}
	</select>
</mapper>